<!-- example of simulation run with SLAM -->

<launch>
  
  <arg name="x" default="-2.25"/>
  <arg name="y" default="2.23"/>
  <arg name="z" default="0.03"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="-1.57"/> 
  <arg name="laser_visualize" default="false"/>
  <arg name="odomsource" default="world"/>
  <arg name="camera_visualize" default="true"/>
  <!--arg name="worldfile" default="empty_rose.world" /-->
  <arg name="worldfile" default="jetbotSize.world" />
  <arg name="camera_xyz"  default="0.065   0      0.0857"/>
  <arg name="camera_rpy"  default="0    0.25  0"/>
  
  <!-- Gazebo world loading -->
    <let name="worldfile" value="$(var worldfile)" />
  <include file="$(find-pkg-share maze_world)/launch/world.launch">
  </include> 

  <!-- robot spawn -->
    <let name="x" value="$(var x)" /> 
    <let name="y" value="$(var y)" /> 
    <let name="z" value="$(var z)" /> 
    <let name="P" value="$(var P)" /> 
    <let name="Y" value="$(var Y)" /> 
    <let name="R" value="$(var R)" /> 
  <include file="$(find-pkg-share jetbot_description)/launch/spawn.launch"> 
  </include>

  <!-- rosbot description -->
    <let name="laser_visualize" value="$(var laser_visualize)"/>
    <let name="camera_visualize" value="$(var camera_visualize)"/>
    <let name="camera_xyz"  value="$(var camera_xyz)"/>
    <let name="odomsource" value="$(var odomsource)"/>
    <let name="camera_rpy"  value="$(var camera_rpy)"/>
  <include file="$(find-pkg-share jetbot_description)/launch/jetbot_description.launch">
  </include>
  
  <!-- run SLAM -->
  <!--include file="$(find-pkg-share jetbot_slam)/launch/jetbot_hector_slam.launch" /-->
  <!--include file="$(find-pkg-share jetbot_navigation)/launch/jetbot_move_base.launch" /-->
  
  <!-- node name="rviz" pkg="rviz" exec="rviz" args="-d $(find jetbot_description)/rviz/mapping_view.rviz" / -->
  
</launch>
