<?xml version="1.0" encoding="UTF-8" ?>
<launch>

  <arg name="model" default="$(find-pkg-share jetbot_description)/urdf/jetbot.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find-pkg-share jetbot_description)/rviz/urdf.rviz" />

  <!-- param name="robot_description" textfile="$(find-pkg-share jetbot_description)/urdf/jetbot.urdf" / -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="robot_description" command="$(find-pkg-share xacro)/xacro --inorder $(var model)" />
    <param name="use_gui" value="$(var gui)" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="robot_description" command="$(find-pkg-share xacro)/xacro --inorder $(var model)" />
    <param name="use_gui" value="$(var gui)" />
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(var rvizconfig)" required="true">
    <param name="robot_description" command="$(find-pkg-share xacro)/xacro --inorder $(var model)" />
    <param name="use_gui" value="$(var gui)" />
  </node>
</launch>
